.container {
  max-width: 800px;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.container form {
  width: 300px;
  border: 2px dashed #B2E6D4;
  border-radius: 8px;
  padding: 15px 35px 10px 35px;
  background-color: #1F0B22;
}

.sign-in-form-button {
  width: 100%;
  color: #F9F9F9;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  background: none;
  border: 2px solid #B2E6D4;
  border-radius: 4px;
  text-decoration: none;
  transition-duration: 0.2s;
  padding: 5px 20px 5px 20px;
  margin-top: 5px;
  text-align: center;
}

.sign-in-form-button:hover {
  background-color: #ECA400;
  border: 2px solid #040113;
  color: #040113;
  cursor: pointer;
}

.sign-in-form-button:active {
  filter: brightness(75%);
}

.form-control {
  padding: 0.3rem 0.65rem;
}

.form-control:focus {
  border-color: #ECA400 !important;
  box-shadow: 0 0 0 0.15rem rgba(236, 164, 0, 1) !important;
}

.alert-danger {
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  margin-top: 5px;
  background-color: #B10F2E;
  border: 3px solid #040113;
  color: #F9F9F9;
}
