<div>
  <h1>File Details</h1>

  <div class="content-wrapper">
    <div class="data-wrapper">
      <h2><b>File Name:</b> {{fileMetadata.fileName }}</h2>
      <span><b>Owner:</b> {{ fileMetadata.ownerUsername }} - {{ fileMetadata.ownerEmail }}</span>
      <span><b>File size:</b> {{ fileMetadata.size | FileSize: 'auto' }}</span>
      <span><b>Public:</b> {{ fileMetadata.publicFileFlag }}</span>
      <span><b>Upload date:</b> {{ fileMetadata.uploadTimestamp | date: "dd-MM-yyyy"}}</span>

      <br>
      <span>
        <b>File Description:</b>
        <br>
        {{ fileMetadata.fileDescription }}
      </span>
    </div>

    <ng-template #shareFormModal let-modal>
      <div class="modal-content">

        <div class="modal-header mx-3">
          <h2 class="modal-title" id="modal-basic-title">File Sharing</h2>
          <button type="button" class="basic-button" (click)="modal.dismiss('Cross click')">
            X
          </button>
        </div>

        <div class="modal-body">
            <form (ngSubmit)="onShare()" [formGroup]="fileShareForm">

              <div class="mb-3 mx-3">
                <label for="recipientEmail">Recipient Email</label>
                <input formControlName="recipientEmail"  id="recipientEmail" type="text" class="form-control" placeholder="Recipient Email">
              </div>

              <div class="mb-1 mx-3">
                <button class="sign-in-form-button basic-button" type="submit">Share File</button>
              </div>
            </form>
        </div>


      </div>
    </ng-template>

    <div class="actions">
      <h2>Actions</h2>
      <button class="basic-button" (click)="onDownload()">Download File</button>
      <button *ngIf="isFileOwner() || isAdmin()" class="basic-button" (click)="openShareFormModal(shareFormModal)">Share File</button>
      <button *ngIf="isFileOwner() || isAdmin()" class="basic-button">Edit File</button>
      <button *ngIf="isFileOwner() || isAdmin()" class="basic-button" (click)="onDelete()">Delete File</button>
    </div>
  </div>



</div>
