@import "../../../assets/button-styles.css";

.user-info {
  margin-left: 40px;
}

.profile-header {
  display: flex;
}

h3 {
  margin-top: 20px;
  margin-left: 40px;
}

.modal-content {
  background-color: var(--secondary-background-color);
  border: 2px solid var(--border-color);
  width: 28rem;
}

.modal-header .basic-button {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  margin-right: 0;
}

.modal-body label {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.modal-body .basic-button {
  width: 100%;
  margin: 0;
}

.modal-body .form-control:focus {
  border-color: var(--active-color) !important;
  box-shadow: 0 0 0 0.15rem rgba(236, 164, 0, 1) !important;
}

.form-check-input {
  margin-left: 1rem;
  margin-top: 0.4rem;
}

.form-check-input:focus {
  border-color: var(--active-color) !important;
  box-shadow: 0 0 0 0 rgba(236, 164, 0, 0) !important;
}

.form-check-input:checked {
  background-color: var(--active-color);
  border-color: var(--active-color);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
