<div>
  <h1>Files Dashboard</h1>
  <div class="content-wrapper">
    <button [routerLink]="['/file-upload']" class="basic-button" id="upload-button">Upload File</button>
    <div class="table-wrapper">

      <app-file-table #userFiles class="displayed-table" [style.display]="isDashboardModeUserFiles() ? 'block' : 'none'" [showOwner]="false">
      </app-file-table>

      <app-shared-files-table #sharedFiles class="displayed-table" [style.display]="isDashboardModeSharedFiles() ? 'block' : 'none'" [mode]="getSharedFilesTableMode()">
      </app-shared-files-table>

      <app-shared-files-table #receiptedFiles class="displayed-table" [style.display]="isDashboardModeReceiptedFiles() ? 'block' : 'none'" [mode]="getReceiptedFilesTableMode()">
      </app-shared-files-table>

      <div class="table-switch-buttons-wrapper">
        <button class="basic-button" (click)="changeDashboardModeToUserFiles()">Your Files</button>
        <button class="basic-button" (click)="changeDashboardModeToSharedFiles()">Shared Files</button>
        <button class="basic-button" (click)="changeDashboardModeToReceiptedFiles()">Receipted Files</button>
      </div>
    </div>

  </div>
</div>

