@import "../../../assets/button-styles.css";

h1 {
  margin-left: 40px;
}

app-file-table {
  width: 100%;
  height: inherit;
  min-height: 400px;
}

.content-wrapper {
  display: flex;
  height: max-content;
}

.buttons-wrapper {
  width: 20rem;
}

.basic-button {
  font-size: 1.75rem;
  margin-right: 40px;
  margin-left: 0;
  width: 16rem;
  margin-top: 1rem;
}
