@import "../header-styles.css";

.dropdown-toggle::after {
  display: none;
}

.dropdown-content {
  background-color: #1F0B22;
  border: 2px solid #B2E6D4;
  padding: 0;
  margin-top: 2px;
}

.dropdown-content .basic-button {
  margin: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid var(--border-color);
}

.dropdown-content .basic-button:last-child {
  margin: 0;
  border: 0;
  border-radius: 0;
}

.search-form {
  margin: 0;
  padding-top: 12px;
  display: flex;
}

/*.dropdown-content .basic-button {*/
/*  margin: 0;*/
/*}*/

/*.dropdown-content .basic-button {*/
/*  margin: 0;*/
/*}*/
