header {
  background-color: #1F0B22;
  border-bottom: 2px solid #B2E6D4;
  position: relative;
  overflow: hidden;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 32px;
  margin: 4px 14px 4px 14px;
}

h2:hover {
  cursor: pointer;
  filter: brightness(90%);
}

h2:focus {
  outline: 0;
}

a {
  vertical-align: middle;
  margin: auto 16px auto 16px;
  color: #F9F9F9;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  background: none;
  border: 2px solid #B2E6D4;
  border-radius: 4px;
  text-decoration: none;
  transition-duration: 0.2s;
}

a:hover {
  background-color: #ECA400;
  border: 2px solid #040113;
  color: #040113;
}

a:active {
  filter: brightness(75%);
}

a.p-2 {
  padding: 4px 30px 4px 30px !important;
}

/*.btn-outline-**/
